services:
  backend:
    build:
      context: ./backend
    ports:
      - "8080:8080"
    volumes:
      - auditdb:/app/data
  demo-ui:
    build:
      context: ./demo-ui
    ports:
      - "8088:80"
    depends_on:
      - backend

volumes:
  auditdb:
